<div class="container">
  <form name="form" class="css-form" novalidate>
    <div class="form-group">
      <label for="uFirst">First Name:</label>
      <input type="text" ng-model="user.first_name" name="uFirst" required class="form-control" />
    </div>
    <div class="form-group">
      <label for="uLast">Last Name:</label>
      <input type="text" ng-model="user.last_name" name="uLast" required class="form-control" />
    </div>
    <div class="form-group">
      <label for="uPhone">Phone:</label>
      <input type="text" ng-model="user.phone" name="uPhone" required class="form-control" />
    </div>
    <button ng-click="submit()" ng-disabled="form.$invalid">Submit</button>
  </form>
</div>
