<div class="container">
<div class="row">
  <div class="col-sm-12">
    <form action="" method="" role="form">
    <legend>Name:&nbsp;{{newUser.first_name}}&nbsp;{{newUser.last_name}}</legend>
    <div class="row">
      <div class="col-sm-12">
        <p>Phone Number:&nbsp;{{newUser.cell_phone}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" id="" required placeholder="Email" ng-model="newUser.email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <h5>HouseHold:</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-default" ng-click="addFamilyMember()">Add Family Member</button>
          </div>
        </div>
          <div class="row" ng-repeat="member in familyMembers">
            <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-6"><div class="form-group">
                <label for="">Member:{{$index+1}}&nbsp;&nbsp;First Name</label>
                <input type="text" class="form-control" id="" placeholder="First" ng-model="member.firstName">
              </div></div>
              <div class="col-xs-6"><div class="form-group">
                <label for="">Member:{{$index+1}}&nbsp;&nbsp;Last Name</label>
                <input type="text" class="form-control" id="" placeholder="Last" ng-model="member.lastName">
              </div></div>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12"><h5>Needs:</h5></div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="checkbox text-left">
                <label>
                  <input type="checkbox" value="medical" ng-model="newUser.medical"> Medical
                </label>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="checkbox text-left">
                <label>
                  <input type="checkbox" value="financial" ng-model="newUser.financial"> Financial
                </label>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="checkbox text-left">
                <label>
                  <input type="checkbox" value="food" ng-model="newUser.food"> Food
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="submit()">Submit</button>
    </form>
    </div>

    
</div>
</div>
</div>
