<div class="container">
  <form name="form" class="css-form" novalidate>
    <div class="row">
      <div class="col-xs-6">
        First Name:
      </div>
      <div class="col-xs-6">
        <input type="text" ng-model="user.first_name" name="uFirst" required />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        Last Name:
      </div>
      <div class="col-xs-6">
        <input type="text" ng-model="user.last_name" name="uFirst" required />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        Phone:
      </div>
      <div class="col-xs-6"> 
        <input type="text" ng-model="user.phone" name="uPhone" required/>
      <div>
    </div>
  </form>
</div>
