<div class="container-fluid">

  <div class="row filters">
    <div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					Search: <input ng-model="query">
					Medical Need:
					<select ng-model="medicalFilter">
						<option value="">- None -</option>
						<option value="Diabetes">Diabetes</option>
						<option value="Open Wounds">Open Wounds</option>
					</select>
				</div>

				<div class="col-md-8">
					<input type="radio" ng-model="type" value="survivor"> Survivor <br/>
					<input type="radio" ng-model="type" value="volunteer"> Volunteer <br/>
				</div>
			</div>
    </div>
	</div>

	<div class="row users-index">
		<div class="col-md-8 map">
			<div id="map-canvas"/>
		</div>
    <div class="col-md-4 list">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="user in users | filter:query | userPropFilter:type"
            class="thumbnail phone-listing">
          <a href="#/users/{{user.id}}" class="thumb"></a>
          <a href="#/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a>
          <p>{{user.email}}</p>
          <p>{{user.phone}}</p>
          <p>{{user.type}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
